{
  "presets": [
      "@babel/preset-env"
  ],
  "plugins": [
      "@babel/plugin-syntac-dynamic-import",
      [
          "@babel/plugin-proposal-decorators",
          {
              "legacy":true
          }
      ],
      [
          "@babel/plugin-proposal-class-properties",
          {
              "loose":true
          }
      ]
  ]
}